@charset "UTF-8";


/* header */
#mainHeader {
     position: fixed;
     width: 100%;
     z-index: 2;
}


/* modal area */
#modalArea {
     display: none;

     align-items: center;
     justify-content: start;

     z-index: 1;
     overflow: scroll;

     position: fixed; 

     width: 100%;
     height: 100%;

     background-color: var(--uiPrimaryBlackOpacity);
     padding: 0px 40px;
}




/* title area */
#titleA {
     text-align: center;
}


#pageTitle {
     color: var(--uiPrimaryWhite);
     font: normal 2em var(--rFont);

     margin-bottom: 10px;
}


/* fix small screens  */
/* @media screen and (max-height: 500px) {
     #modalArea {
          justify-content: start;
     }
} */


@media screen and (min-width: 768px) {
     #modalArea {
          width: calc(100% - 225px);
          right: 0;
     }

     #pageTitle {
          font-size: 3.25em;
     }

}