@charset "UTF-8";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Outfit:wght@100..900&display=swap');


:root {
    /* colors */
    --aqua: #4df5c6;
    --aquaT: #4df5c500;

    --euca: #08976f;
    --gree: #055841;

    --papr: #84082b;
    --amar: #de0d48;
    --razz: #f32a63;

    --tiar: #bccece;
    --gall: #eeeeee;
    --white: #ffffff;
    --whiteT: #ffffff62;
    
    --grey: #292929;
    --shar: #1f1f1f;
    --wood: #181818;
    --woodT: #000000ad;

    /* fonts */
    --sFont: "Outfit", sans-serif;
    --rFont: "Almarai", sans-serif;
}




/* doc */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    max-width: 100vw;

    min-height: 100vh;
}

body {
    background-image: linear-gradient(#1F1F1F 50%, #1D1D1D);
}

.li {
    list-style: none;
}




/* reusable */
.flex {
    display: flex;
}

.abs {
    position: absolute;
}

.flex-col {
    flex-flow: column wrap;
}

.fJustC {
    justify-content: center;
}

.fAlignC {
    align-items: center;
}


.bdev {
    border: 2px solid red;
}

.bAll {
    border-radius: 65px;
}

.dTrans {
    transition: all 200ms;
}

