@charset "UTF-8";

/* header */
#mHead {
     position: sticky;
     top: 0;
     z-index: 3;

     flex-flow: row-reverse wrap;

     min-height: 40px;
     height: 10vh;
     max-height: 60px;

     width: 100%;

     background-color: var(--grey);
}

#mIcon {
     margin-left: 10px;
     height: 80%;
     max-height: 40px;

     cursor: pointer;
}

#cllIcon {
     height: 100%;
}




/* main menu box and its content*/
#mMenuB {
     display: none;
     flex-flow: column nowrap;

     position: fixed;
     top: 0px;
     z-index: 2;

     background-color: var(--wood);
     border-right: 1px solid var(--uiPrimaryGrey);

     min-width: 150px;
     width: 60vw;
     max-width: fit-content;

     height: 100vh;
     overflow: scroll;
}

#mMenu {
     margin-top: clamp(40px, 10vh, 60px);
     width: 100%;
}

.menuFont {
     font: 100 0.75em var(--rFont);
}


/* mMenu boxes */
.mmBlock, #leaveM {
     height: 70px;
}


.mmBlock{
     color: var(--white);
}

.mmBlock:hover {
     border-bottom: 1px solid var(--white);
}


.mmBlock:hover, #leaveM:hover {
     background-color: #000;
}


#leaveM {
     width: 100%;
     cursor: pointer;

     background-color: transparent;

     border: none;
     border-bottom: 1px solid var(--razz);
}

#leaveM p {
     color: var(--razz);
}


#mMenu img {
     height: 50%;

     margin: 0px 15px 0px 25px;
     background-size: 50px 50px;

     color: var(--white);
}

#mMenu p {
     margin-right: 20px;
}




/* user section */
#userSec {
     justify-self: center;
     margin: 100px 20px 15px;
}

#userIcon {
     height: 80px;
     width: 80px;

     margin-right: 10px;

     padding: 15px;

     border-radius: 50px;
     background-color: var(--grey);
}


#userInfo {
     width: 100%;
}

#userName, #userType {
     font-weight: 300;
}

#userName {
     color: var(--aqua);
}

#userType {
     color: var(--razz);
}


.userB {
     width: 100%;
     padding: 15px;

     cursor: pointer;

     border: none;
     border-radius: 50px;

     color: var(--white);
     background-color: var(--grey);
}

.userB:hover {
     background-color: #000;
}

#userSec a {
     gap: 10px;
}

#signoutB:hover {
     background-color: var(--amar);
}


.userMSpace {
     margin-bottom: 5px;
}




/* main content */
#mCon {
     position: relative;
     min-height: calc(100vh - 60px);

     /* border that forces mCon to unfollow it's first children position as the start height "counter" */
     border: 1px solid var(--wood);
}


.conPattern {
     margin: 50px;
          
     height: fit-content;
     max-width: fit-content;
}


#pageTitle {
     color: var(--white);
     font: normal 2em var(--rFont);

     margin-bottom: 10px;
}

.subtitle {
     color: var(--whiteT);
     font: 100 0.9em var(--rFont);
     margin-bottom: 5px;
}


.genericButton {
     padding: 15px;

     font: 500 1em var(--rFont);

     color: var(--white);
     background-color: var(--wood);

     border: 1px solid var(--white);
}

.limitedAcess {
     display: none;

}




/* eff */
#bgEff {
     display: none;
     position: fixed;
     left: 0;

     z-index: 0;

     height: 100%;
     width: 100%;

     background-color: var(--woodT);
}


.regEff {
     color: var(--aqua);
}

.admEff {
     color: var(--razz);
}







/* pc / tablet media */
@media screen and (min-width: 768px) {
     /* main content */
     #mCon {
          margin-left: 191px;
     }

     .conPattern {
          margin: 50px 80px;
     }


     #pageTitle {
          font-size: 3em;
     }



     /* mMenu */
     #mMenuB {
          display: flex;
     }

     #mIcon {
          display: none;
     }


     .mmBlock, #leaveM {
          height: 50px;
     }

     .mmBlock {
          opacity: 0.75;
     }

     .mmBlock:hover {
          opacity: 1;
     }


     #leaveM {
          display: none;
     }




     /* user info */
     #userIcon {
          padding: 10px;

          width: 60px;
          height: 60px;
     }

     .userB {
          opacity: 0.5;
          padding: 5px;
     }

     .userB:hover {
          opacity: 1;
     }

}