@charset "UTF-8";

/* header */
#mHead {
     display: none;
     position: sticky;
     top: 0;
     z-index: 3;

     flex-flow: row-reverse wrap;

     min-height: 40px;
     height: 10vh;
     max-height: 60px;

     width: 100%;

     background-color: var(--grey);
}

#mIcon {
     display: none;
     margin-left: 10px;
     height: 80%;
     max-height: 40px;

     cursor: pointer;
}

#bgEff {
     display: block;
     opacity: 1;
}

#cllIcon {
     height: 100%;
}




/* main menu box and its content*/
#mMenuB {
     display: grid;
     grid-template-rows: 1fr 2fr 1fr;

     position: fixed;
     top: 0;
     z-index: 2;

     padding: 10px;

     min-width: 225px;
     width: 60vw;
     max-width: 300px;

     height: 100vh;
     overflow: scroll;

     background-color: var(--uiSecondaryBlack);
     border-right: 1px solid var(--uiPrimaryGrey);
}

#menuTopIcon {
     border: 1px solid var(--uiPrimaryGrey);

     height: 40px;
     width: 100px;

     justify-self: center;
     margin: 10px 10px 60px 10px; 
}


#mMenu {
     height: fit-content;
     gap: 10px;
}


.menuFont {
     font: 200 0.75em var(--rFont);
}


/* mMenu boxes */
.mmBlock{
     height: 60px;
     width: 100%;

     padding: 0 5px;

     color: var(--uiSecondaryWhite);
     border: 1px solid var(--uiPrimaryGrey);
     background-color: transparent;

     border-radius: 15px;
}


.mmBlock:hover {
     color: var(--uiPrimaryWhite);
     cursor: pointer;
}

.selectedMenuBox {
     color: var(--uiPrimaryWhite);
     background-color: var(--uiPrimaryGrey);
}

.selectedMenuBox > p {
     font-weight: 500;
}


#mMenu img {
     height: 50%;

     margin: 0px 25px;
     background-size: 100%;

     /* border: 1px solid red; */
}

#mMenu p {
     margin-right: 20px;
}




/* user section */
#userSec {
     justify-self: center;
     align-self: end;

     height: fit-content;

     width: 80%;
     max-width: 225px;

     margin: 100px 0px 0px;
}

#userIcon {
     height: 80px;
     width: 80px;

     margin-right: 10px;

     padding: 15px;

     border-radius: 50px;
     background-color: var(--uiPrimaryGrey);
}


#userInfo {
     width: 100%;
}

#userName, #userType {
     font-weight: 300;
}

#userName {
     color: var(--uiPrimaryWhite);
}

#userType {
     color: var(--uiSecondaryWhite);
}


.userB {
     width: 100%;
     padding: 15px;

     border: none;
     border-radius: 50px;

     color: var(--uiSecondaryWhite);
     background-color: var(--uiPrimaryGrey);

     cursor: pointer;
}

.userB:hover {
     background-color: var(--uiSecondaryGrey);
}

#userSec a {
     gap: 10px;
}

#signoutB:hover {
     background-color: var(--secondaryOpposite);
}


.userMSpace {
     margin-bottom: 5px;
}




/* main content */
#mCon {
     position: relative;
     min-height: calc(100vh - 60px);

     /* border that forces mCon to unfollow it's first children position as the start height "counter" */
     width: 100%;
}


.conPattern {
     margin: 50px;          
     height: fit-content;
     max-width: fit-content;
}


#pageTitle {
     color: var(--white);
     font: normal 2em var(--rFont);

     margin-bottom: 10px;
}

.subtitle {
     color: var(--whiteT);
     font: 100 0.9em var(--rFont);
     margin-bottom: 5px;
}


.genericButton {
     padding: 15px;

     font: 500 1em var(--rFont);

     color: var(--white);
     background-color: var(--wood);

     border: 1px solid var(--white);
}

.limitedAcess {
     display: none;

}






/* eff */
#bgEff {
     display: none;
     position: fixed;
     left: 0;

     z-index: 0;

     height: 100%;
     width: 100%;

     background-color: var(--woodT);
}


#wallpaperEffect {
     z-index: -1;

     position: fixed;
     bottom: 0;
     left: 50%;
     right: auto;

     transform: translate(-50%);

     min-width: 250px;
     width: 70%;
}


.regEff {
     color: var(--aqua);
}

.admEff {
     color: var(--razz);
}







/* pc / tablet media */
@media screen and (min-width: 768px) {
     #pageTitle {
          font-size: 3.25em;

     }

     .conPattern  {
          margin: 80px;
     }

     #mMenuB {
          position: sticky;
          max-width: 225px;
     }

     .mmBlock {
          opacity: 0.75;

          height: 50px;
          border: none;
     }

     .mmBlock:hover, .selectedMenuBox {
          opacity: 1;
          background-color: var(--uiPrimaryGrey);
     }

     .userB {
          padding: 5px;
     }

     #userIcon {
          height: 60px;
          width: 60px;
     }


     #wallpaperEffect {
          left: 55%;     
     }
}