@charset "UTF-8";


/* header */
#mainHeader {
     position: fixed;
     width: 100%;
     z-index: 2;
}




/* message box */
.messageBox {
     display: grid;
     justify-items: center;

     position: fixed;
     top: 20px;
     z-index: 2;
     
     padding: 30px 30px 10px;

     min-height: 50px;

     min-width: 250px;
     width: 80vw;
     max-width: 400px;

     text-align: center;
     
     font-size: 1.25em;
     color: var(--uiPrimaryWhite);

     animation: 200ms openMessageBoxANIM linear;
}


.messageBox p > span {
     font-weight: 700;
}


/* message box types */
.messageBox.successMessage {
     background-color: var(--tertiaryColor);
}

.messageBox.errorMessage {
     background-color: var(--tertiaryOpposite);
}

.messageBox.strangeMessage {
     background-color: var(--uiSecondaryGrey);
}


.closeMessageBox {
     background: url(../../../media/ico/closeicon.png);
     background-size: cover;

     min-height: 25px;
     width: 25px;

     margin-top: 20px;

     border: none;

     cursor: pointer;
}


/* modals */
#modalArea {
     display: none;
     z-index: 1;
     overflow: scroll;

     position: fixed; 
     width: 100%;

     height: 100%;

     background-color: var(--uiPrimaryBlackOpacity);
     border: 1px solid red;
}


.modalPattern {
     display: none;

     gap: 40px;
     
     background-color: var(--uiSecondaryBlack);
     border: 1px solid var(--uiPrimaryGrey);

     padding: 35px;
     border-radius: 15px;

     min-width: 250px;
     width: 50vw;
     max-width: 400px;

     margin-top: 15vh;
}

.modalPattern fieldset {
     border: none;
}


.modalTitle {
     font: 500 2em var(--rFont);
}

.modalSubtext {
     color: var(--uiSecondaryWhite);
     font: 300 1em var(--rFont);
}

.modalEmphasis {
     font: 500 1.25em var(--rFont);
     color: var(--uiPrimaryWhite);
}


.labelPattern {
     font: 300 1em var(--rFont);
     color: var(--uiPrimaryWhite);
}

.requiredLabel:after {
     content: "*";

     color: var(--uiPrimaryWhite);
     margin-left: 5px;
}

.requiredLabel:has(+ .correctInput)::after {
     content: "";
}

.legendPattern {
     font: 400 1.25em var(--rFont);
     color: var(--uiPrimaryWhite);

     margin-bottom: 20px;
}




/* modal buttons */
.modalButtons {
     margin-top: 40px;
     gap: 10px;
}

.modalButtons > input {
     text-align: left;
     padding: 10px 20px;

     cursor: pointer;
}


.confirmButtonCSS {
     border: none;
}

.confirmButtonCSS:active {
     opacity: 0.8;
}

.cancelModalButton {
     width: 50%;

     background-color: transparent;
     color: var(--uiSecondaryWhite);
     border: 1px solid var(--uiSecondaryWhite);
}

.cancelModalButton:hover {
     color: var(--uiPrimaryWhite);
     border-color: var(--uiPrimaryWhite);
}


/* modal specific styles */
/* default / refuse / confirm */
.defaultModalCSS .modalTitle {
     color: var(--uiPrimaryWhite);
}

.defaultModalCSS .confirmButtonCSS {
     background-color: var(--uiPrimaryWhite);
}


.confirmModalCSS .modalTitle {
     color: var(--tertiaryColor);
}

.confirmModalCSS .confirmButtonCSS {
     background-color: var(--tertiaryColor);
}

.confirmModalCSS .confirmButtonCSS:hover {
     background-color: var(--secondaryColor);
}


.refuseModalCSS .modalTitle {
     color: var(--primaryOpposite);
}

.refuseModalCSS .confirmButtonCSS {
     background-color: var(--secondaryOpposite);
}

.refuseModalCSS .confirmButtonCSS:hover {
     background-color: var(--primaryOpposite);
}


#editUserModal {
     border: 1px solid var(--uiPrimaryWhite);
}





/* table  */
/* general tables */
.tablePatternCSS {
     display: grid;

     grid-auto-flow: row;
     grid-template-columns: auto;
     grid-template-rows: auto auto;

     gap: 10px;

     min-height: 200px;
     height: 50vh;
     max-height: 500px;

     /* border: 0.5px solid #e6e6e67a; */
     border-radius: 15px;
}




/* table head */
.tableHeaderCSS {
     padding: 20px;
}

.tableHeaderCSS > tr {
     display: grid;
     grid-auto-flow: column;
     grid-auto-columns: minmax(0, 1fr);

     column-gap: 10%;
}

.tableTitle {
     font: normal 1em var(--rFont);
}


/* table body */
.tableBody { 
     display: grid;
     grid-auto-flow: row;

     height: 100%;
     overflow: scroll;

     row-gap: 5px;
}



/* table row */
.tableRowCSS {
     display: grid;
     grid-auto-flow: column;
     grid-auto-columns: minmax(0, 1fr);

     padding: 20px;

     column-gap: 10%;
}


/* table cell */
.tableMainText {
     color: var(--uiPrimaryWhite);
     font: normal 1em var(--rFont);
}

.tableSubtext, .tableEmphasisText {
     font: 300 0.75em var(--rFont);
}

.tableSubtext {
     color: var(--uiSecondaryWhite);
}


/* buttons */
.buttonPatternCSS {
     width: 100%;
     padding: 10px 20px;

     border-radius: 15px;
     cursor: pointer;
}


.genericButtonVisual {
     background-color: var(--uiPrimaryGrey);
     cursor: pointer;
     border: none;
}

.genericButtonVisual:hover {
     opacity: 0.75;
}

.genericButtonVisual:disabled {
     opacity: 0.25;
}

.genericButtonVisual:active {
     background-color: var(--uiSecondaryGrey);
}


.confirmButtonCSS {
     font-weight: 500;
     background-color: var(--tertiaryColor);
}

.roundButtonWithImage, .squareButtonWithImage {
     background: center center no-repeat;

     cursor: pointer;
     border: none;
}

.roundButtonWithImage {
     padding: 10px;

     height: 100%;
     min-width: 40px;
     width: auto;

     background-color: var(--uiPrimaryGrey);
     background-size: 60%;

     aspect-ratio: 1/1;
}

.squareButtonWithImage {
     max-width: 30px;

     aspect-ratio: 1/1;

     background-color: transparent;
     background-size: cover;
}

.refreshButtonCSS {
     min-width: 30px;
     min-height: 30px;

     background: transparent url(../media/ico/reusablestructures/refresh.svg) no-repeat;
     border: none;
     cursor: pointer;
}


/* aside */
.textOverflowCSS {
     overflow: hidden;
     text-overflow: ellipsis;
     text-wrap: nowrap;
}



/* page detail block */
.pageDetailBlock {
     display: flex;
     flex-flow: column wrap;

     width: 100%;
     padding: 25px;

     background-color: var(--uiSecondaryBlack);
     border-radius: 25px;
}

.pageIconArea {
     align-items: center;
     width: 100%;
}

.pageIconArea img {
     width: 30%;
     aspect-ratio: 1;
}


/* page's title area */
#titleA {
     text-align: center;
}

#pageTitle {
     color: var(--uiPrimaryWhite);
     font: normal 1.5em var(--rFont);
}




/* animations */
@keyframes openMessageBoxANIM {
     from { top: 0;}
}

@keyframes hideMessageBoxANIM {
     from { opacity: 1;}
     to { opacity: 0;}
}

/* media */
@media screen and (min-width: 768px) {
     /* page detail block */
     .pageDetailBlock {
          display: grid;

          justify-items: start;

          grid-template-columns: 1fr 1fr;
          column-gap: 40px;
          padding: 40px;
     }

     .pageIconArea {
          align-items: start;
     }

     .pageIconArea img {
          width: 100%;
          max-height: 175px;
     }


     .pageInformationArea {
          justify-self: center;
     }

     #titleA {
          text-align: left;
     }

     #pageTitle {
          font-size: 2em;
     }


     /* modal area */
     #modalArea {
          max-width: calc(100% - 225px);
          right: 0;
          border: 1px solid red;
     }

     .modalPattern {
          min-width: 400px;
     }


     /* message box */
     .messageBox {
          margin-left: 225px;
     }

     /* message box */
     .messageBox {
          grid-template-columns: auto auto;
          justify-content: space-between;
          align-items: center;

          padding: 10px 20px 10px 45px;

          width: calc(80vw - 200px);
          max-width: 700px;
     }

     .closeMessageBox {
          margin-top: 0px;
     }
}