@charset "UTF-8";


/* main user content box */
#mainUserContentBox {
     max-width: 450px;
}


/* form */
.inputsArea > fieldset, .buttonsArea {
     border: none;
}

/* inputs area */
.inputsArea {
     display: flex;
     flex-flow: row wrap;

     justify-content: space-between;
     gap: 5%;
}

.inputsArea > img {
     width: 45%;
     padding: 5%;

     background: var(--uiPrimaryGrey) center center no-repeat;
     border-radius: 100%;
}


.inputsArea > fieldset {
     gap: 10px;

     flex-grow: 1;
     width: 45%;
}

/* buttons area */
.buttonsArea {
     margin-top: 50px;
     gap: 10px;
}

.buttonsArea > p {
     font-size: 0.75em;
     cursor: pointer;
}

.resetEmphasis {
     color: var(--uiSecondaryWhite);
}

.deleteEmphasis {
     color: var(--primaryOpposite);
}


form#changeOwnUserData .confirmButtonTypeMR {
     margin-top: 10px;
     padding: 5px 30px;
     
     font: 500 1.5em var(--rFont);
     background-color: var(--tertiaryColor);
     
     cursor: pointer;
}

form#changeOwnUserData .confirmButtonTypeMR:hover {
     background-color: var(--primaryColor);
}



/* modal */
.modalPattern > form {
     gap: 15px;
}





/* mobile custom media */
@media screen and (max-width: 480px) {
     /* form */
     /* inputs area */
     .inputsArea {
          justify-content: center;
          gap: 20px;
     }

     .inputsArea > fieldset {
          width: 100%;
     }

     .inputsArea > img {
          order: -1;
          margin-bottom: 20px;
     }
}

