@charset "UTF-8";

/* general */
.pageArea {
     width: 100%;
}

.radioLabel {
     display: block;

     width: 100%;    
     padding: 10px 15px;

     color: var(--uiSecondaryGrey);
     outline: 1px solid var(--uiSecondaryGrey);

     border-radius: 15px;

     transition: all 0.3s 0s linear;

     cursor: pointer;
}

.radioLabel + input {
     display: none;
}

.radioLabel:has(+ input:checked) {
     color: var(--uiPrimaryWhite);
     background-color: var(--uiPrimaryGrey);
     outline: 1px solid transparent;
}



/* reusar  // replace on manage courses when i replace its bgEff with modals (including script)*/ 
/* MM = MANAGE COURSES / MANAGE USERS */
.inputPatternMM {
     width: 100%;

     margin-bottom: 20px;
     padding-bottom: 10px;

     font: 300 1em var(--rFont);
     color: var(--uiPrimaryWhite);

     background-color: transparent;
     border-color: transparent transparent var(--uiSecondaryGrey) transparent;
}

.inputPatternMM:focus {
     outline: none;
     border-bottom-color: var(--uiPrimaryWhite);
}

.inputPatternMM:disabled, .disabledLabelCSS {
     opacity: 0.25;
}


.modalFormMM {
     gap: 40px;
}


/* titles */
#titleA {
     margin-bottom: 50px;
}


/* operations zone */
.operationsZone {
     margin-bottom: 25px;
}


#userListOperations {
     justify-content: start;
     gap: 10px;
}

#userListOperations .searchBox {
     flex-grow: 1;
}


.filterButton {
     background-image: url(../../media/ico/reusablestructures/filter.svg);
}

.filterButton:hover {
     outline: 1px solid var(--uiSecondaryGrey);
}

.filterButton.activeButton {
     outline: 1px solid var(--uiPrimaryWhite);
}


/* users table */
#usersTable {
     min-width: 100%;
     width: 60vw;
     max-width: 650px;

     margin: 15px 0px;
}

.tableHeaderCSS {
     background-color: var(--uiPrimaryGrey);
     border-radius: 15px 15px 0px 0px;

     max-height: fit-content;
}

.tablePatternCSS {
     color: var(--uiPrimaryWhite);
     background-color: var(--uiSecondaryBlack);
}

.tableRowCSS {
     background-color: var(--uiSecondaryBlack);
     border-bottom: 1px solid var(--uiPrimaryGrey);
}

.inactiveUser {
     opacity: 0.75;
}

.regularUser .tableEmphasisText {
     color: var(--secondaryColor);
}

.adminUser .tableEmphasisText {
     color: var(--secondaryOpposite);
}


/* user actions / buttons */
.userActionsCell {
     display: flex;
     flex-flow: row wrap;

     justify-content: center;
     align-items: center;

     gap: clamp(5px, 2vw, 10px);

     /* border: 1px solid #d400ff; */
}

.squareButtonWithImage {
     width: calc(30% - 5px);
}


.activeUser .toggleUserInput {
     background-image: url(../../media/ico/manageusers/turnon.svg);
}

.inactiveUser .toggleUserInput {
     background-image: url(../../media/ico/manageusers/turnedoff.svg);
}

.editUserInput {
     background-image: url(../../media/ico/manageusers/edit.svg);
}

.deleteUserInput {
     background-image: url(../../media/ico/manageusers/delete.svg);
}

.modalSubtext:has(.deletedUserName) {
     overflow: hidden;
     max-width: 330px;
}

/* aside */
.confirmButtonCSS {
     text-align: left;
}

.hiddenByForce {
     display: none;
}

.resetButtonToTextCSS {   
     /* text-align: right; */
     padding: 0px;
     width: fit-content;
     align-self: end;

     color: var(--uiSecondaryGrey);
     background-color: transparent;
     border: none;

     cursor: pointer;
}

.resetButtonToTextCSS:hover {
     color: var(--uiPrimaryWhite);
}


@media screen and (min-width: 768px) {
     #titleA {
          margin-bottom: 70px;
     }


     /* columns alignment */
     #usersTable .tableHeaderCSS > tr, #usersTable .tableRowCSS {
          justify-content: space-between;
     }


     /* "dados" and "ações" alignment */
     #usersTable .tableHeaderCSS th:first-child {
          text-align: left;
     }

     #usersTable .tableHeaderCSS th:last-child {
          text-align: right;
     }

     .userActionsCell {
          justify-content: end;
     }

}
