@charset "UTF-8";

/* main content boxes */
#mSignStyle {
    position: relative;
    z-index: 0;

    min-width: 200px;
    width: 80vw;
    max-width: fit-content;

    background-color: var(--wood);
    border: 1px solid var(--whiteT);
}

#mForm {
    flex-shrink: 1;
    margin: 40px 35px;
    width: calc(80vw - 70px);
}




/* sign-in / out title  */
#signTitle {
    font: normal 500 2em var(--sFont);
}




/* input sections */
.inpB { /* input box */
    flex-flow: column wrap;
    margin-bottom: 30px;
}

.inpB input {    
    font: normal 400 1em var(--sFont);

    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 25px;

    border-radius: 25px;
    box-shadow: 0.5px 0.5px 2px #18181823;
}

.valEff:valid {
    position: relative;
    border: 2px solid var(--whiteT);
}


.inpB label, .inpB > div > p {
    color: var(--white);
    font: 100 0.9em var(--rFont);
}




/* final box and buttons*/
#finalBox {
    justify-content: space-between;
}


/* buttons */
.fButton {
    width: 49%;
    padding: 15px;

    cursor: pointer;
    
    font-family: var(--sFont);
    background-color: transparent;
    border-radius: 25px;
}




/* visual div */
#visualD {
    width: 1vw;
    max-width: 10px;
}







