@charset "UTF-8";

/* main doc */
main {
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
}




/* main content boxes */
#mCon {
    position: relative;

    min-width: 200px;
    width: 80vw;
    
    margin: 40px 20px; 

    background-color: var(--wood);
    border: 1px solid var(--whiteT);
}

#mForm {
    flex-shrink: 0;
    margin: 40px 35px;
    width: calc(80vw - 70px);
}




/* sign title box */
#mForm h1 {
    font: normal 500 min(2em) var(--sFont);
}




/* input sections */
.inpB { /* input box */
    flex-flow: column wrap;
    margin-bottom: 30px;
    gap: 20px;
}

.inpB input {    
    font: normal 400 1em var(--sFont);

    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 25px;

    border-radius: 25px;

    color: var(--aqua);
    background-color: transparent;

    border: 1px solid var(--white);
    box-shadow: 0.5px 0.5px 2px #18181823;
}

.valEff:valid {
    position: relative;
    border: 2px solid var(--whiteT);
}





.inpB label, .inpB > div > p {
    color: var(--white);
    font: 100 0.9em var(--rFont);
}





/* final box and buttons*/
#finalBox {
    justify-content: space-between;
}


/* buttons */
.fButton {
    width: 49%;
    padding: 15px;

    cursor: pointer;
    
    font-family: var(--sFont);

    background-color: transparent;
    border-radius: 25px;
}


/* confirm / login button */
#cButton, #lButton {
    color: var(--aqua);
    border: 1px solid var(--aqua);
}

#cButton:hover, #lButton:hover {
    background-color: var(--aqua);
}

/* reset / erase button */
#rButton, #eButton {
    color: var(--razz);
    border: 1px solid var(--razz);  
}

#rButton:hover, #eButton:hover {
    background-color: var(--razz);
}


/* all buttons */
#cButton:hover, #lButton:hover, #rButton:hover, #eButton:hover {
    color: var(--wood);
}





