@charset "UTF-8";

/* main doc */
main {
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}




/* main content boxes */
/* /// */
#mCon {
    position: relative;

    min-width: 200px;
    width: 80vw;
    
    margin: 40px 20px; 

    background-color: var(--gall);
}
/* /// */
#mForm {
    flex-shrink: 0;
    margin: 50px 35px 35px;
    width: calc(80vw - 70px);
}




/* sign title box */
#mForm h1 {
    font: normal 700 min(2em) var(--sFont);
}




/* input sections */
.inpB { /* input box */
    flex-flow: column wrap;
    margin-bottom: 30px;
    gap: 10px;
}

.inpB input {    
    font: normal 400 1em var(--sFont);

    width: 100%;
    height: 50px;
    padding: 0px 10px 0px 25px;

    border-radius: 25px;
    border: none;
    box-shadow: 0.5px 0.5px 2px #18181823;
}

.valEff:valid {
    position: relative;
    border: 2px solid var(--aqua);
}

.valEff:invalid {
    border: 2px solid var(--razz);
}




.inpB label, .inpB > div > p {
    font: 100 0.9em var(--rFont);
}





/* final box and buttons*/
#finalBox {
    justify-content: space-between;
}


/* buttons */
.fButton {
    width: 49%;
    padding: 15px;

    border: none;
    cursor: pointer;

    font-family: var(--sFont);
    color: var(--white);

    border-radius: 25px;
}

#cButton, #lButton {
    background-color: var(--euca)
}

#rButton, #eButton {
    background-color: var(--gree);  
}

.fButton:hover {
    font-weight: bold;
    opacity: 0.75;
}

