@charset "UTF-8";

/* main content */
#mCon {    
    display: flex;
    
    width: fit-content;
}

#mForm { /* main form*/
    max-width: 400px;
}




/* visual D*/
#visualD {
    background-color: var(--aqua);
    width: 1vw;
}



/* login title box */
#mForm h1 {
    color: var(--white);
    margin-bottom: 50px;
}

#mForm > h1 span {
    color: var(--aqua);
}




/* final box */
#finalBox {
    margin: 25px 0px 0px;
}




/* final buttons */
#rButton {
    text-decoration: none;
    text-align: center;
}




/* message content */
#msgCon {
    display: none;
    z-index: 1;

    background-color: #000000ad;
    min-height: 600px;
    height: 100vh;

    width: 100%;
}

#msgCon > section {
    width: fit-content;
    max-width: 80%;
}

#msgIco {
    min-width: 200px;
    width: 20vw;
    max-width: 700px;
}


/* msg text */
#msgT, #msgD {
    text-align: center;
}



#msgT {
    font: normal 4.5em var(--sFont);
}

#msgT.inc {
    color: var(--razz);
}

#msgT.cor {
    color: var(--aqua);
}



#msgD {
    color: var(--white);
    font: 100 min(1.5em, 5vw) var(--rFont);
}


#closeMsgB {
    width: 100%;
    padding: 10px;

    cursor: pointer;
    margin-top: 5vh;

    font: normal 2em var(--rFont);
    background-color: var(--white);
}

#closeMsgB:hover {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
}




/* media */
@media screen and (min-width: 768px) {
    /* main content */
    #mForm {
        margin: 60px 80px 60px 50px;
    }
    
    #finalBox {
        margin-top: 40px;
    }

}


@media screen and (min-width: 1366px) {
    /* main content */
    #mForm {
        margin: 70px;
        max-width: 550px;
    }
    
    #mForm h1 {
        font-size: min(64px, 3vw);
    }
    
    /* msg content -- bug fix*/
    #msgCon {
        min-height: 720px;
    }

    
    /* inputs */
    .inpB:nth-of-type(1) {
        margin-top: 20px;
    }

    .inpB label, .fButton, .inpB input {
        border-radius: 200px;
    }

    .inpB label, .fButton {
        font-size: min(25px, 2vw);
    }

    .inpB input {
        font-size: min(25px, 2vw);
        height: 60px;
    }

    #finalBox {
        margin-top: 70px;
    }
}