@charset "UTF-8";


/* main content */
#mCon {    
    display: flex;
    min-height: 0px;
    max-width: 800px;
}

#mForm { /* main form*/
    max-width: 550px;
}




/* img */
#visualImg {
    height: 500px;
    width: 100%;
}



/* login title box */
#mForm h1 {
    margin-bottom: 50px;
}




/* final box */
#finalBox {
    margin: 25px 0px;
}




/* final buttons */
#rButton {
    text-decoration: none;
    text-align: center;
}









/* media */
@media screen and (min-width: 768px) {
    #visualImg {
        background: url(../../media/img/sign-bg.jpg) center right;
        background-size: cover;
    }
}