@charset "UTF-8";

/* main doc */
#mCon {
    max-width: 1100px;
    min-height: 500px;
}

#mForm { /* main form*/
    margin: 50px 35px 35px;
    max-width: 600px;
}

#visualD {
    display: none;
}

#mCon::before {
    background-color: var(--razz);
}




/* sign title box */
#signTB {
    justify-content: space-between;
}

#signTB a {
    color: var(--wood);
    font: normal 900 min(2em) var(--sFont);
    text-decoration: none;
}

#II-redEff {
    font-size: 0.75em;
    color: var(--razz);
}

#Ib {
    font-size: 1.3em;
}




/* subtopics */
.stopic {
    font: 500 min(1.25em) var(--sFont);
    margin: 40px 0px 20px;
}

.stopic:nth-of-type(2) {
    margin-top: 50px;
}




/* radio inputs -- user type*/
input[type=radio] {
    display: none;
}

.userTyB {
    padding: 20px 25px;
    margin: 5px 0px;
    border-radius: 50px;

    background-color: var(--tiar);  
}

.userTyB:hover {
    color: var(--white);
    background-color: var(--razz);

    cursor: pointer;
}

#regUserB, #admUserB {
    font: 300 1em var(--sFont);
}

/* radio box checked? */
#regUserInp:checked + #regUserB, #admUserInp:checked + #admUserB  {
    color: var(--white);
    background-color: var(--amar);
}




/* confirm and erase buttons */
#eButton {
    background-color: var(--amar);
}




/* final box */
#finalBox {
    margin-top: 50px;
}




/* --------------------------------------------------------------------------- */
/* media */
@media screen and (min-width: 768px) {
    #mCon {
        padding-right: 0px;
    }

    #mForm {
        margin: 70px 50px 50px;
    }

    #userTyDiv {
        display: flex;
        flex-flow: row wrap;
        gap: 1%;

        text-align: center;
    }

    .userTyB {
        width: 49%;
    }



    #visualD {
        /* flex grow ajusta a altura */
        display: flex;

        opacity: 0.6;

        width: 100%;

        margin: 15px 0px 0px 50px;

        background: url(../../media/img/sign-bg.jpg) center right;
        background-size: cover;
        border-radius: 0px 0px 15px;
    }
}

