@charset "UTF-8";

/* main doc */
#mCon {
    max-width: 1500px;
    min-height: 500px;
}

#mForm { /* main form*/
    max-width: 600px;
}

#visualD {
    display: none;
}




/* header */
#mHead {
    position: fixed;
    z-index: 2;

    width: 100%;
}


/* msgB Reg */
#msgB, #closeMsg {
    align-self: center;
}

#msgB {  
    /* display: none; */
    position: relative;

    min-width: 150px;
    padding: 15px 50px 15px;
    margin-top: 1vh;

    font: 500 1.25em var(--sFont);

    color: var(--white);
    box-shadow: 2px 2px 2px #2222223d;
}

#msgB > p {
    color: var(--white);
}

/* msgB correct / incorrect */
#msgB.cor {
    background-color: var(--gree);
    border: 5px solid var(--euca);
}

#msgB.inc{
    background-color: var(--amar);
    border: 5px solid var(--papr);
}

#closeMsg.cor {
    background-color: var(--euca);
}


#closeMsg {
    position: absolute;
    top: 100%;
    
    padding: 10px;

    border: none;
    border-radius: 0px 0px 25px 25px;
}

#closeMsg > img {
    width: 25px;
    height: fit-content;

    cursor: pointer;
}

#closeMsg:hover {
    color: var(--red);
}










/* sign title box */
#signTB {
    justify-content: space-between;
}

#signTB a {
    color: var(--wood);
    font: normal 900 min(2em) var(--sFont);
    text-decoration: none;
}

#II-redEff {
    font-size: 0.75em;
    color: var(--euca);
}

#Ib {
    font-size: 1.3em;
}




/* subtopics */
.stopic {
    font: 500 min(1.25em) var(--sFont);
    margin: 40px 0px 20px;
}

.stopic:nth-of-type(2) {
    margin-top: 50px;
}




/* radio inputs -- user type*/
input[type=radio] {
    display: none;
}

.userTyB {
    padding: 20px 25px;
    margin: 5px 0px;

    background-color: var(--tiar);  
}

.userTyB:hover {
    color: var(--white);
    background-color: var(--grey);
    opacity: 0.9;

    cursor: pointer;
}

#regUserB, #admUserB {
    font: 300 1em var(--sFont);
}

/* radio box checked? */
#regUserInp:checked + #regUserB, #admUserInp:checked + #admUserB  {
    color: var(--white);
    background-color: var(--wood);
}




/* confirm and erase buttons */
#eButton {
    background-color: var(--gree);
}




/* final box */
#finalBox {
    margin-top: 50px;
}




/* --------------------------------------------------------------------------- */
/* media */
@media screen and (min-width: 768px) {
    /* header */
    #msgB {
        padding: 15px 80px 15px;
    }

    #closeMsg {     
        top: auto;   
        right: 10px;
    
        background-color: transparent;
        border: none;
    }




    /* form */
    #mForm {
        padding: 10px 60px 10px 30px;
    }

    #userTyDiv {
        display: flex;
        flex-flow: row wrap;
        gap: 1%;

        text-align: center;
    }

    .userTyB {
        width: 49%;
    }




    /* aside */
    #visualD {
        /* flex grow ajusta a altura */
        display: flex;
    
        width: 100%;

        background: url(../../media/img/sign-bg.jpg) center right;
        background-size: cover;

        border-radius: 0px 25px 25px 0px;
    }
}

