@charset "UTF-8";

#searchA {
     margin-bottom: 100px;
}


/* fields */
.fieldValue {
     vertical-align: bottom;
     display: inline-block;
}


/* others */
.createdContent > div > div {
     width: 100%;
}


.copyButton {
     float: right;

     min-width: 30px;
     min-height: 30px;

     margin: 0px auto 10px 20px;

     background: var(--gall) url(../../../media/ico/mcourses/ccopy.svg) center center no-repeat;
     background-size: 70%;

     border-radius: 25px;
     border: none;
}

.copyButton:hover {
     background-color: var(--aqua);
     cursor: copy;
     transition: all 300ms;
}
