@charset "UTF-8";


/* all areas */
.conPattern section {
     margin-bottom: 50px;
}

.conPattern {
     width: 75vw;
     max-width: 1015px;
}




/* title area */
#titleA {
     text-align: center;
}

#titleA > h2 > span {
     color: var(--white);
}




/* search area */
#searchA {
     align-self: center;
     
     width: 100%;
     max-width: 500px;
     margin-bottom: 100px;
}


#searchB { /* search box*/
     border: 1px solid var(--uiSecondaryGrey);
}

#searchInp {
     padding-left: 20px;
     width: calc(100% - 40px);

     color: var(--white);
     background-color: transparent;

     border: none;
}

#searchInp:focus {
     outline: none;
}

#searchB:has(#searchInp:focus) {
     border: 1px solid var(--white);
}


#searchButton {
     margin-left: 5px;
     padding: 25px 30px;

     background: transparent url(../../../media/ico/mcourses/search.svg) center center no-repeat;
     background-size: 55%;

     border: none;
     cursor: pointer;
}





/* explore - courses area */
#coursesA {
     align-content: start;
     gap:10px;
}


/* courseBox == coursesA > div */
#coursesA > div{     
     height: auto;

     min-width: 240px;
     width: 20vw;
     max-width: 500px;

     flex-grow: 1;

     padding: 25px 35px;
     margin-bottom: 5px;
     
     opacity: 0.75;

     border: 1px solid var(--uiSecondaryGrey);
     border-radius: 35px;
}


#coursesA > div > img {
     float: left;

     min-width: 20px;
     width: 15vw;
     max-width: 70px;

     margin-right: 20px;

     border-radius: 20px;
}


#coursesA > div > h1 {
     color: var(--uiPrimaryWhite);
     font: 700 1.5em var(--rFont);
     word-break: normal;
}

#coursesA > div > h2 {
     color: var(--uiSecondaryGrey);
     font: normal 1.15em var(--rFont);
     margin-top: 5px;
}

#coursesA > div:hover {
     opacity: 1;

     border: 1px solid var(--uiPrimaryWhite);
     transition: all 300ms;

     cursor: pointer;
}


/* open */
#coursesA > div.open {
     opacity: 1;

     background-color: var(--uiPrimaryBlack);
     border: 1px solid var(--uiPrimaryWhite);

     cursor: default;
}

#coursesA > div.open > h1 {
     color: var(--uiPrimaryWhite);
}

#coursesA > div.open > h2 {
     color: var(--uiSecondaryWhite);
}



.createdContent {
     margin-top: 25px;
}

.createdContent > h3 {
     color: var(--uiSecondaryWhite);
     font: 700 1.25em var(--rFont);
     margin: 30px 0px 20px;
}

/* child div */
.createdContent > div {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid var(--uiPrimaryGrey);

     margin-bottom: 20px;
}


.copyButton {
     min-width: 40px;
     height: 40px;

     margin-left: 20px;

     background: var(--gall) url(../../../media/ico/mcourses/ccopy.svg) center center no-repeat;
     background-size: 70%;

     border-radius: 25px;
     border: none;
}

.copyButton:hover {
     background-color: var(--aqua);
     cursor: copy;
     transition: all 300ms;
}


.fieldName, .fieldValue {
     color: var(--white);
     word-break: break-all;
     font: 1em var(--rFont);

     margin-bottom: 15px;
}

.fieldName {
     font-weight: 100;
     color: var(--uiSecondaryWhite);
}

.fieldValue {
     color: var(--uiPrimaryWhite); 
}


/* buttons */
.createdContent > a, .createdContent > button {
     display: inline-block;

     width: 49%;
     padding: 10px;

     margin-top: 40px;

     font: 700 1em var(--rFont);
     color: var(--black);

     text-decoration: none;
     text-align: center;

     background-color: var(--aqua);

     border-radius: 25px;
     border: none;

     cursor: pointer;
}

.createdContent > a {
     float: right;

     color: var(--uiPrimaryBlack);
     background-color: var(--uiPrimaryWhite);
}

.createdContent > a:Hover {
     background-color: var(--aqua);
}


.createdContent > button {
     color: var(--uiSecondaryGrey);
     background-color: transparent;

     border: 1px solid var(--uiSecondaryGrey);
}

.createdContent > button:hover {
     color: var(--uiPrimaryWhite);
     border-color: var(--uiPrimaryWhite);
}


.createdContent > a, .createdContent > button {
     transition: all 300ms;
}






